.timeline__years {
    position: absolute;
    display: flex;
    gap: 1.5rem;
    white-space: nowrap;
    z-index: 0;
}

.timeline__year {
    font-weight: 700;
    line-height: 1;
}

@media (min-width: 1024px) {
    .timeline__year {
        font-size: 10rem;
        gap: 1rem
    }
}


@media (max-width: 768px) {
    .timeline__year {
        font-size: clamp(2.2rem, 15vw, 7rem);
        gap: 1rem
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .timeline__year {
        font-size: 7rem;
    }
}

.timeline__year_primary {
    color: #2563EB;
}

.timeline__year_secondary {
    color: #EC4899;
}

